.gamification-meta-box {
  margin-top: 5px;
}

.user-level-bar {
  margin-top: 4px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.level-bar-outer {
  height: 8px;
}

.level-bar-inner {
  height: 8px;
  transition: width 0.3s;
}

.user-card .user-card-metadata-outlet{
  width: 100%;
}

.level-info-box{
  display: flex;
}

.level-icon, .level-icon img{
  height: 32px;
  width: 32px;
}