discourse_gamification:
  discourse_gamification_enabled:
    default: false
    client: true

  scorable_categories:
    type: category_list
    default: ""

  ## Score value settings
  score_value_settings:
    type: header
    default: ""

  like_received_score_value:
    default: 1
  like_given_score_value:
    default: 1
  solution_score_value:
    default: 5
  solution_topic_score_value:
    default: 2
  user_invited_score_value:
    default: 10
  time_read_score_value:
    default: 1
  post_read_score_value:
    default: 1
  topic_created_score_value:
    default: 1

  score_first_reply_of_day_enabled:
    default: true
    client: true

  post_created_score_value:
    default: 2

  first_reply_of_day_score_value:
    default: 1
  flag_created_score_value:
    default: 10
  day_visited_score_value:
    default: 1
  day_visited_weekend_score_value:
    default: 20
  score_day_visited_enabled:
    default: true
    client: true
  day_visited_score_reason:
    default: "day_visited"
  reaction_received_score_value:
    default: 1
  reaction_given_score_value:
    default: 1
  chat_reaction_received_score_value:
    default: 1
  chat_reaction_given_score_value:
    default: 1
  chat_message_created_score_value:
    default: 1

  post_created_event_score_value:
    default: 2
  accepted_solution_event_score_value:
    default: 5
  accepted_solution_topic_event_score_value:
    default: 2

  score_ranking_strategy:
    default: dense_rank
    type: enum
    choices:
      - dense_rank
      - rank
      - row_number

  ## Instant event category filters
  instant_event_category_filters:
    type: header
    default: ""   # ← 이 줄 추가
  post_created_event_categories:
    type: category_list
    default: ""
  accepted_solution_event_categories:
    type: category_list
    default: ""
  accepted_solution_topic_event_categories:
    type: category_list
    default: ""